<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <castle>
      <components>
        <component id="ICompositionRoot"
         service="DependencyInjection.GettingStarted.ICompositionRoot, DependencyInjection.GettingStarted"
         type="DependencyInjection.GettingStarted.CompositionRoot, DependencyInjection.GettingStarted">
        </component>

        <component id="IConsoleWriter"
         service="DependencyInjection.GettingStarted.IConsoleWriter, DependencyInjection.GettingStarted"
         type="DependencyInjection.GettingStarted.ConsoleWriter, DependencyInjection.GettingStarted">
        </component>
      </components>
    </castle>
</configuration>